
node_modules/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production


# React (Frontend)
build/
dist/
.cache/


# Databases

*.db




